@import "./../variables";

.heading {
  .container-fluid {
    padding: 0;
  }

  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $primary-green;
  }

  .title-background {
    // background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;
    height: 20rem;

    .title {
      h1 {
        color: white;
      }
    }
  }
}

.page-image-container {
  padding-left: 0;
  background-size: cover;
  color: #ffffff;
  width: 100vw;
  height: 25rem;
  background-size: cover;
}

.title-outside,
.title {
  margin-top: 2rem;

  h1 {
    color: $text-gray;
    font-size: 3rem;
    font-family: "LibreBaskerville" !important;
    // font-family: var(--bs-body-font-family);
    text-transform: uppercase;
    word-spacing: 2;
    text-transform: lowercase;
    // text-shadow: 2px 2px 0px $text-gray;
  }

  hr {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border: 2px solid $color-secondary;
  }
}


@media (max-width: 992px) {

  .heading .page-image-container {
    height: 10rem;
  }

}