@import "./../variables";

.heading>.container-fluid {
  border-bottom: 1px solid $border-light;
}

.heading {
  .container-fluid {
    padding: 0;
  }


  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $primary-green;
  }

  .title-background {
    // background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;
    height: 20rem;

    .title {
      h1 {
        color: white;
      }
    }
  }
}

.page-image-container {
  padding-left: 0;
  background-size: cover;
  color: $white;
  width: 100vw;
  height: 25rem;
  background-size: cover;
}


.title-outside,
.title {
  margin-top: 2rem;

  h1 {
    color: $text-primary;
    font-family: "LibreBaskerville" !important;
    font-weight: 500;
    font-size: 2.1rem;
    text-transform: lowercase;
    word-spacing: 2;
    margin: 0 0 20px;
  }
}


@media (max-width: 992px) {

  .heading .page-image-container {
    max-height: 304px;
  }

}