@font-face {
  font-family: "OpenSans_Condensed-Bold";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Condensed-BoldItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_Condensed-ExtraBold";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Condensed-ExtraBoldItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_Condensed-Italic";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_Condensed-Light";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Condensed-LightItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_Condensed-Medium";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Condensed-MediumItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_Condensed-Regular";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Condensed-SemiBold";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Condensed-SemiBoldItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_Condensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-Bold";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-BoldItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-ExtraBold";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-ExtraBoldItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-Italic";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-Light";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-LightItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-Medium";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-MediumItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-Regular";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-SemiBold";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiCondensed-SemiBoldItalic";
  src: url("./fonts/Open_Sans/static/OpenSans_SemiCondensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  /* Adjust the weight value if needed */
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  /* Adjust the weight value if needed */
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  /* Adjust the weight value if needed */
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  /* Adjust the weight value if needed */
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  /* Adjust the weight value if needed */
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  /* Adjust the weight value if needed */
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  /* Adjust the weight value if needed */
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/static/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  /* Adjust the weight value if needed */
  font-style: italic;
}


@font-face {
  font-family: "LibreBaskerville";
  src: url("./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 800;
  /* Adjust the weight value if needed */
  font-style: normal;
}


@font-face {
  font-family: "LibreBaskerville";
  src: url("./fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  /* Adjust the weight value if needed */
  font-style: italic;
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  /* Adjust the weight value if needed */
  font-style: normal;
}