@import "fonts";

.content {
  margin-top: 11rem;
  margin: 0 auto !important;
  padding: 0 !important;
  min-height: calc(100vh - 96px - 60px);

  .marginBottom {
    margin-bottom: 4rem;
  }

  p {
    line-height: 1.7rem;
  }

  .noPictures {
    text-align: center;
    padding: 3rem;
  }

  .breadcrumbs {
    border-bottom: 2px solid $background-gray;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 0.8rem;
    flex-wrap: wrap;

    >span {
      margin: 0.4rem
    }
  }

  .btn {
    font-size: 0.8rem;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    ul {
      // max-width: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;

      // text
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      margin: 1em 1em 1em;
      background: transparent;
      text-shadow: none;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      border-bottom: 1px solid transparent;
      color: $text-gray;
    }
  }

  [aria-current] {
    .pagination .li a {
      font-weight: bold;
      color: $primary-green !important;
      text-shadow: 0 0 $text-gray;
      background-color: transparent !important;
    }
  }


  h2 {
    font-family: "LibreBaskerville" !important;
    text-transform: lowercase;
    font-weight: bold;
  }

  >.container-fluid {
    margin: 0 auto !important;
    padding: 0 !important;
  }

  hr.title-break-left {
    display: inline-block;
    margin: 0 0 0;
    width: 20rem;
  }

  #home-image {
    background-size: cover;
    color: $white;
    width: 100vw;
    background-position: center center;
    height: calc(100vh - 96px - 60px);
    padding: 0;
    background-repeat: no-repeat;
  }

  #contactForm {
    padding: 15px;
    padding-top: 0px;

    >div:first-child {
      .form-label {
        margin-top: 0;
      }
    }

    .formButtonRow {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }


    .form-label {
      margin-top: 0.8rem;
    }

    .alert-danger {
      margin-top: 0.3rem;
    }

    button {
      margin-top: 0.5rem;
      color: white;
      font-size: 1rem;
    }

    .formMessage {
      width: 100%;
      display: block;
      color: $primary-green;
      font-family: "LibreBaskerville" !important;
      font-weight: bold;
      // font-style: italic;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    .formButtonRow {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        margin-right: 2rem;
      }
    }
  }

  #not-found-page {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;

    h1,
    h2 {
      color: white !important;
    }

    h1 {
      font-size: 13rem;
    }

    h2 {
      font-size: 3.2rem;
    }
  }

  a {
    color: $primary-green;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $primary-yellow;
      text-decoration: none;
    }
  }
}