@import "./fonts.scss";

$color-primary: #520120; // #20232a; /* TODO remove */

$color-secondary: #706513; // #20232a; /* TODO remove */

$primary-green: #706513; //#7ebca9;
$primary-yellow: #B57114;
$secondary-green: #08403E;
$primary-red: #520120;
$background-gray: #f1f1f1;
$background-gray-dark: #d8d8d8;

$text-gray: #4a4a4a;


// change the theme
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "danger": #962B09,
);

$component-active-bg: $primary-green !default;
$custom-checkbox-indicator-indeterminate-bg: $component-active-bg !default;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
